@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff3100;
  border: 2px solid black;
}